
profiles {
   gpcc {
      process.executor = 'slurm'
      process.queue = 'defq'
      dag.overwrite = true
      process.cache = 'lenient'
      process.shell = ['/bin/bash','-e']
      executor { queueSize = 60 }
   }
   sockeye {
   }
}

params {
    // resources
    java = '/mnt/common/Precision/NextFlow/June2023/jdk-20.0.1/bin/java'
    refgenome = '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME/GRCh38-lite.fa'
    exomiser = 'exomiser-cli-13.1.0.jar'
    exomiserDir = '/mnt/common/Precision/Exomiser/exomiser-cli-13.1.0/' 
    deepvariantSif = '/mnt/common/Precision/DeepVariant/deepvariant_1.4.0.sif'
    genomeConda = 'scripts/GenomeAnalysisGAM.yml'
    bwagenomeConda = 'scripts/BwaGenomeAnalysis.yml'
    refgenomeDir = '/mnt/common/Precision/NextFlow/kiana_nextflow_pipeline/GRCh38'
    refgenomeLink = 'ftp://ftp.ensembl.org/pub/release-96/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa.gz'

    // paths
    wd = '/mnt/common/Precision/NextFlow/kiana_nextflow_pipeline/nextflow_pipeline'
    exomiserConfig = "/mnt/common/Precision/NextFlow/kiana_nextflow_pipeline/nextflow_pipeline/scripts/Case6_Exomiser.yml"
    probandID = 'proband_nf'
    motherID = 'mother_nf'
    fatherID = 'father_nf'
    familyID = 'family_nf' 
    caseDir = '/mnt/scratch/Public/TRAINING/GenomeAnalysisModule/CaseInformation/CaseFiles'

    probandR1 = "$params.caseDir/Case6/Case6_proband_R1.fastq.gz"
    probandR2 = "$params.caseDir/Case6/Case6_proband_R2.fastq.gz"
    motherR1 = "$params.caseDir/Case6/Case6_mother_R1.fastq.gz"
    motherR2 = "$params.caseDir/Case6/Case6_mother_R2.fastq.gz"
    fatherR1 = "$params.caseDir/Case6/Case6_father_R1.fastq.gz"
    fatherR2 = "$params.caseDir/Case6/Case6_father_R2.fastq.gz"

   // probandR1 = "$params.wd/example_data/proband_r1.fastq"
   // probandR2 = "$params.wd/example_data/proband_r2.fastq"
   // motherR1 = "$params.wd/example_data/mother_r1.fastq"
   // motherR2 = "$params.wd/example_data/mother_r2.fastq"
   // fatherR1 = "$params.wd/example_data/father_r1.fastq"
   // fatherR2 = "$params.wd/example_data/father_r2.fastq"
    
    // misc
    caseNum = 'Case6'
    region = 'X:153,500,000-154,000,000'
}


process {
   withName:FASTQTOSAM {
        conda = params.genomeConda
	publishDir = 'results'
	cpus = 8
	memory = 64G 
   }
   withName:SAMTOBAM {
        conda = params.genomeConda
	publishDir = 'results'
	cpus = 8
	memory = 64G
   }
   withName:SORTEDBAM {
        conda = params.genomeConda
	publishDir = 'results'//, mode 'copy'
	cpus = 8
	memory = 64G
   }
   withName:INDEXEDBAM {
        conda = params.genomeConda
	publishDir = 'results'
	cpus = 8
	memory = 64G
   } 
   withName:DEEPVARIANT {
        conda = params.genomeConda
        container = params.deepvariantSif 
	publishDir = 'results'
	cpus = 8
	memory = 64G
    }
    withName:GLNEXUS {
        conda = params.genomeConda
        publishDir = 'results'
        cpus = 8
        memory = 64G
    }
    withName:GLNEXUS2 {
        conda = params.genomeConda
        publishDir = 'results'
        cpus = 8
        memory = 64G
    }
    withName:EXOMISER {
        publishDir = 'results'
        cpus = 8
        memory = 64
    }
    withName:REFGENOME {
        conda = params.genomeConda
        publishDir = params.refgenomeDir
    }
}
conda {
    enabled = true
}
singularity {
    enabled = true
    autoMounts = true
    runOptions = "-e -B '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME' -B '/mnt/common/Precision/DeepVariant/deepvariant_1.4.0.sif' -B '/mnt/common/Precision/NextFlow/kiana_nextflow_pipeline/nextflow_pipeline'"
}

