params {
    // resources
    java = '/project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Workflows/nextflow_pipeline/java/jdk-20.0.2/bin/java'
    refgenome = '/project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Databases/References/GRCh38/Genome/Ensembl/GRCh38-lite.fa'
    exomiser = 'exomiser-cli-13.2.0.jar'
    exomiserDir = '/project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Software/Exomiser/exomiser-cli-13.2.0/' 
    deepvariantSif = '/project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Software/DeepVariant/deepvariant_1.4.0.sif'
    glnexusSif = '/project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Software/GLNexus/glnexus_v1.4.3.sif'
    genomeConda = 'scripts/GenomeAnalysisGAM.yml'
    picardConda = 'scripts/BwaGenomeAnalysis.yml'

    // paths
    wd = '/scratch/st-sturvey-1/Sandbox/kiana_nextflow_pipeline/nextflow_pipeline'
    exomiserConfig = "/scratch/st-sturvey-1/Sandbox/kiana_nextflow_pipeline/nextflow_pipeline/scripts/Case6_Exomiser.yml"
    sample_sheet = '/scratch/st-sturvey-1/Sandbox/kiana_nextflow_pipeline/nextflow_pipeline/ExampleSampleSheet.tsv' 

    // misc
    region = 'X:153,500,000-154,000,000'
}

profiles {
   gpcc {
      process.executor = 'slurm'
      process.queue = 'defq'
      dag.overwrite = true
      process.cache = 'lenient'
      process.shell = ['/bin/bash','-e']
      executor { queueSize = 60 }
   }
   sockeye {
      scratch = true
      dag.overwrite = true
      process.executor = 'pbspro'
 //     process.cpus = '2'
 //     process.memory = '24GB'
      process.clusterOptions =  '-A st-sturvey-1 -l walltime=24:00:00,select=1:ncpus=2:mem=24gb'
      process.beforeScript = 'source /project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Workflows/nextflow_pipeline/miniconda3/etc/profile.d/conda.sh'
      beforeScript = 'source /project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Workflows/nextflow_pipeline/miniconda3/etc/profile.d/conda.sh'
      process.shell = ['/bin/bash', '-euo', 'pipefail']
   }
}

process {
   withName:FASTQTOSAM {
 //       beforeScript = 'source /project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Workflows/nextflow_pipeline/miniconda3/etc/profile.d/conda.sh'
        conda = params.genomeConda
	publishDir = 'results/test'
	cpus = 8
	memory = 64G 
   }
   withName:SAMTOBAM {
        beforeScript = 'source /project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Workflows/nextflow_pipeline/miniconda3/etc/profile.d/conda.sh'
        conda = params.genomeConda
	publishDir = 'results/test'
	cpus = 8
	memory = 64G
   }
   withName:SORTEDBAM {
        beforeScript = 'source /project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Workflows/nextflow_pipeline/miniconda3/etc/profile.d/conda.sh'
        conda = params.genomeConda
	publishDir = 'results/test'//, mode 'copy'
	cpus = 8
	memory = 64G
   }
   withName:INDEXEDBAM {
        beforeScript = 'source /project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Workflows/nextflow_pipeline/miniconda3/etc/profile.d/conda.sh'
        conda = params.genomeConda
	publishDir = 'results/test'
	cpus = 8
	memory = 64G
   } 
   withName:DEEPVARIANT {
        beforeScript = 'module load singularity'
        container = params.deepvariantSif 
	publishDir = 'results/test'
	cpus = 8
	memory = 64G
    }
    withName:GLNEXUS2 {
        beforeScript = 'source /project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Workflows/nextflow_pipeline/miniconda3/etc/profile.d/conda.sh'
        conda = params.genomeConda
        publishDir = 'results/test'
        cpus = 8
        memory = 64G
    }
    withName:GLNEXUS {
        beforeScript = 'module load singularity'
        container = params.glnexusSif     
        publishDir = 'results/test'
        cpus = 8
        memory = 64G
    }
    withName:EXOMISER {
        publishDir = 'results/test'
        cpus = 8
        memory = 64G
    }
    withName:DUPREMOVED {
        beforeScript = 'source /project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Workflows/nextflow_pipeline/miniconda3/etc/profile.d/conda.sh'
        publishDir = 'results/test'
        conda = params.picardConda
        cpus = 8
        memory = 64G
    }
}
conda {
    enabled = true
}
singularity {
    enabled = true
    autoMounts = true
    runOptions = "-e -B '/project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Databases/References/GRCh38/Genome/Ensembl' -B '/project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Software/DeepVariant/deepvariant_1.4.0.sif' -B '/project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Workflows/nextflow_pipeline' -B '/project/st-sturvey-1/PrecisionHealthVirtualEnvironment/Software/GLNexus/glnexus_v1.4.3.sif'"
}

