params {
    // resources
    java = '/mnt/common/Precision/NextFlow/June2023/jdk-20.0.1/bin/java'
    refgenome = '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME/GRCh38-lite.fa'
    exomiser = 'exomiser-cli-13.1.0.jar'
    exomiserDir = '/mnt/common/Precision/Exomiser/exomiser-cli-13.1.0/' 
    deepvariantSif = '/mnt/common/Precision/DeepVariant/deepvariant_1.4.0.sif'
    genomeConda = 'scripts/GenomeAnalysisGAM.yml'
    picardConda = 'scripts/BwaGenomeAnalysis.yml'

    // paths
    wd = '/mnt/common/Precision/NextFlow/kiana_nextflow_pipeline/nextflow_pipeline'
    exomiserConfig = "/mnt/common/Precision/NextFlow/kiana_nextflow_pipeline/nextflow_pipeline/scripts/Case6_Exomiser.yml"
    exomiserTestConfig = "/mnt/common/Precision/NextFlow/kiana_nextflow_pipeline/nextflow_pipeline/scripts/Exomiser_Template.yml"
    sample_sheet = '/mnt/common/Precision/NextFlow/kiana_nextflow_pipeline/nextflow_pipeline/CaseSixSampleSheet.tsv'
    test_sample_sheet = '/mnt/common/Precision/NextFlow/kiana_nextflow_pipeline/nextflow_pipeline/Case6Updated.tsv'

    // misc
    region = 'X:153,500,000-154,000,000'
    // WGS or WES
    seq_type = 'WGS'
}

profiles {
   gpcc {
      process.executor = 'slurm'
      process.queue = 'defq'
      dag.overwrite = true
      process.cache = 'lenient'
      process.shell = ['/bin/bash','-e']
      executor { queueSize = 60 }
      process.beforeScript = 'source /home/BCRICWH.LAN/kiana.rashidi/miniconda3/etc/profile.d/conda.sh' 
   }
   sockeye {
   }
}

process {
   withName:FASTQTOSAM {
        conda = params.genomeConda
	publishDir = 'results'
	cpus = 8
	memory = 64G 
   }
   withName:SAMTOBAM {
        conda = params.genomeConda
	publishDir = 'results'
	cpus = 8
	memory = 64G
   }
   withName:SORTEDBAM {
        conda = params.genomeConda
	publishDir = 'results'//, mode 'copy'
	cpus = 8
	memory = 64G
   }
   withName:INDEXEDBAM {
        conda = params.genomeConda
	publishDir = 'results'
	cpus = 8
	memory = 64G
   } 
   withName:DEEPVARIANT {
        conda = params.genomeConda
        container = params.deepvariantSif 
	publishDir = 'results'
	cpus = 8
	memory = 64G
    }
    withName:GLNEXUS {
        conda = params.genomeConda
        publishDir = 'results'
        cpus = 8
        memory = 64G
    }
    withName:GLNEXUS2 {
        conda = params.genomeConda
        publishDir = 'results'
        cpus = 8
        memory = 64G
    }
    withName:EXOMISER {
        publishDir = 'results'
        cpus = 8
        memory = 64G
    }
    withName:DUPREMOVED {
        publishDir = 'results'
        conda = params.picardConda
        cpus = 8
        memory = 64G
    }
}
conda {
    enabled = true
}
singularity {
    enabled = true
    autoMounts = true
    runOptions = "-e -B '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME' -B '/mnt/common/Precision/DeepVariant/deepvariant_1.4.0.sif' -B '/mnt/common/Precision/NextFlow/kiana_nextflow_pipeline/nextflow_pipeline'"
}

