includeConfig "conf/params.config"

profiles {
    gpcc {
        'conf/gpcc.config'
    }
    gpcc_test {
        'conf/gpcc_test.config'
    }
    sockeye {
        'conf/sockeye.config'
    }
}

process {
    withName:FASTQTOSAM {
        conda = params.genomeConda
	publishDir = 'results'
	cpus = 8
	memory = 64G 
    }
    withName:SAMTOBAM {
        conda = params.genomeConda
	publishDir = 'results'
	cpus = 8
	memory = 64G
    }
    withName:SORTEDBAM {
        conda = params.genomeConda
	publishDir = 'results'//, mode 'copy'
	cpus = 8
	memory = 64G
    }
    withName:INDEXEDBAM {
        conda = params.genomeConda
	publishDir = 'results'
 	cpus = 8
 	memory = 64G
    } 
    withName:DEEPVARIANT {
        conda = params.genomeConda
        container = params.deepvariantSif 
	publishDir = 'results'
	cpus = 8
	memory = 64G
    }
    withName:GLNEXUS {
        conda = params.genomeConda
        publishDir = 'results'
        cpus = 8
        memory = 64G
    }
    withName:GLNEXUS2 {
        conda = params.genomeConda
        publishDir = 'results'
        cpus = 8
        memory = 64G
    }
    withName:EXOMISER {
        publishDir = 'results'
        cpus = 8
        memory = 64
    }
    withName:REFGENOME {
        conda = params.genomeConda
        publishDir = params.refgenomeDir
    }
}
conda {
    enabled = true
}
singularity {
    enabled = true
    autoMounts = true
    runOptions = "-e -B '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME' -B '/mnt/common/Precision/DeepVariant/deepvariant_1.4.0.sif' -B '/mnt/common/Precision/NextFlow/kiana_nextflow_pipeline/nextflow_pipeline'"
}

